.ql-snow
  .ql-picker.ql-font
  .ql-picker-label[data-value="Noto Sans Arabic"]::before,
.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="Noto Sans Arabic"]::before {
  content: "Noto Sans Arabic";
  font-family: "Noto Sans Arabic", sans-serif;
}

.ql-font-Noto-Sans-Arabic {
  font-family: "Noto Sans Arabic", sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Poppins"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Poppins"]::before {
  content: "Poppins";
  font-family: "Poppins", sans-serif;
}

.ql-font-Poppins {
  font-family: "Poppins", sans-serif;
}
